*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: Verdana, Geneva, Tahoma, sans-serif ;
}


body{
    min-height: 100vh;
    background: url(https://wallpapers.com/images/hd/plain-white-background-xdwiksazlsuzkuhi.jpg);
    background-size: cover;
    height: 100%;
}

.header{
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    z-index: 100;
}


.jihc{
    width: 7%;
    height: 7%;

}
table td img{
  width: 715px;

  
}
.navbar a {
    position: relative;
    font-size: 18px;
    color: blue;
    font-weight: 500;
    text-decoration: none;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 100px;
    padding-top: 10px;
}

.navbar ::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 10px;
    width: 0;
    height: 2px;
    background: rgb(117, 117, 117);
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}



.bkr1{
    width: 100%;
    margin-top:50px ;
}


.welcome{
    padding-left: 300px;
}

.p1{
    padding-left: 50px;
    font-size: 20px;
}

.p2 h2 {
padding-left: 300px;
padding-bottom: 100px;
}

.p2 p{
    padding-left: 100px;
    font-size: 20px;
}

.img1{
  height: 50%;
}

.img2{
width: 100%;
}
