* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image:
    url('https://media.istockphoto.com/id/922129940/photo/backdrop-room-two.webp?b=1&s=170667a&w=0&k=20&c=Igvltz0LwHCbFSViVwBdk_v6Kv5k-fGD6X3y43cvu9A=')    
}

.Madg {
    text-align: center;
    font-family: cursive;
    color: gold;
    font-weight: bold;
    opacity: 0.5;
}

.ar {
    font-size: 30px;
    margin-top: 10px;
   margin-left: 680px;
   color: gold;


}
  .ar1 {
    font-size: 30px;
    margin-top: 10px;
   margin-left: 680px;
   color: gold;
  }

.Talk {
    text-align: center;
    font-family: cursive;
    color: gold;
    font-weight: bold;
    opacity: 0.5;
}

p {
    color: grey;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.has {
    color: gold;
   
}

#had {
    color: gold;
  
}

.nurda, .dima {
    color: gold;
   
}

img {
    margin-left: 100px;
    width: 900px;
    height: 500px;
}

.green {
    color: gold;
}

.bold {
    font-weight: bold;
}

[href] {
    color: blueviolet;
}

img[src*='YD4pFLDyzMyqBzso5xF5USR05hxqGuXf'] {
    margin-left: 540px;
}

.ar:hover {
    background-color: chartreuse;
}

h5.m {
    color: gold !important;
    
}

.ull li{
    color: gold;
}